.page-header {
  background-color: #6d6da5;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.search-inputs-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.page-footer {
  background-color: rgb(78, 78, 116);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

img {
  max-width: 90px;
}

.search-btn {
  padding: 20px;
}
